body{
font-size: 12pt;
font-family: arial,helvetica,sans-serif;
color: black;
background-color:slategray;}

h6{
font-size: 24pt;
letter-spacing: .3em;
word-spacing: .2em;
text-align: center;}

h4{
letter-spacing: .2em;
word-spacing: .2em;
text-align: center;}

.center{
text-align: center;}

#right{
text-align: right;
margin-top: 15em;
margin-right: 5em;
margin-bottom: 3em;}


#left{
text-align: left;
margin-left: 5em;
margin-right: 5em;
width:700px;}


img{
margin-bottom: 1em;
border-width: 0;}

img.align{
border-width: 0;
margin-right: 1em;
margin-bottom: 0;
vertical-align: middle;}
#container{
margin-left: auto;
margin-right: auto;
width:780px;}

#sidebar{
font-size: 12pt;
width: 201px;
float: left;
color: white;
background-color: brown;
border: black thick solid;
text-align: center;}

a{
font-weight: bold;
font-size: 12pt;
color: navy;}

#sidebar a:link{
font-size: 12pt;
color: white;
background-color: brown;
padding: .5em;
text-align: center;
font-weight: bold;
display: block;}

#sidebar a:visited{
font-size: 12pt;
padding: .5em;
color: black;
text-decoration: none;
display: block;}

#sidebar a:hover{
font-size: 14pt;
font-weight: bold;
color: gold;
background-color: black;
text-decoration: underline;
border: white solid thin;}

#main{
float: left;
width: 510px;
padding: 1em;
font-size: 11pt;
font-family: arial,helvetica,sans-serif;
color: black;
background-color: white;
border-left: navy solid 1em;
border-right: navy solid 1em;
background-color: wheat;
text-align: left;}

h3{
color: navy;}

em{
color: brown;
font-weight: bold;}

img{
margin-bottom: 1em;
border-width: 0;}

img.align{
border-width: 0;
margin-right: 1em;
margin-bottom: 0;
vertical-align: middle;}

.center{
text-align: center;}
