/* Created by Michael Brown
The file index.htm links to this stylesheet. */

body{
font-size: 12pt;
font-family: arial,helvetica,sans-serif;
color: black;
background-color:slategray;}

h6{
font-size: 24pt;
letter-spacing: .3em;
word-spacing: .2em;
text-align: center;}

h4{
letter-spacing: .2em;
word-spacing: .2em;
text-align: center;}

.center{
text-align: center;}

#right{
text-align: right;
margin-top: 15em;
margin-right: 5em;
margin-bottom: 3em;}


#left{
text-align: left;
margin-left: 5em;
margin-right: 5em;
width:700px;}


img{
margin-bottom: 1em;
border-width: 0;}

img.align{
border-width: 0;
margin-right: 1em;
margin-bottom: 0;
vertical-align: middle;}